currencies:
- code: USD
  conditions:
    spot_buying_rate:
      max: 738.0
    spot_selling_rate:
      min: 708.0
  name: 美元
- code: GBP
  conditions:
    spot_selling_rate:
      min: 900.0
  name: 英镑
- code: JPY
  conditions:
    spot_selling_rate:
      min: 4.5
  name: 日元
email:
  imap_port: 993
  imap_server: imap.qiye.aliyun.com
  recipient_email: sunnycloudyang@outlook.com
  sender_email: noreply@thu-life.online
  sender_password: EtcBMJlTenPJJAMz
  smtp_port: 465
  smtp_server: smtp.qiye.aliyun.com
  use_ssl: true
monitoring:
  url: https://www.boc.cn/sourcedb/whpj/
